<?xml version="1.0"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSBuscaCEPSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/BuscaCEP/WSBuscaCEP.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSBuscaCEPSoap"
                contract="WSBuscaCEP.WSBuscaCEPSoap" name="WSBuscaCEPSoap" />
        </client>
    </system.serviceModel>
</configuration>
